<div [@routerTransition]>
    <div class="section  section-nucleo-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <h2 class="title">About Our Restaurant</h2>
                    <br/>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis unde ducimus nisi in perferendis facere a ullam dolorem
                        obcaecati earum, exercitationem, maiores reprehenderit consequuntur. Aut unde quas officia veritatis
                        autem?
                    </p>
                    <br/>
                    <!-- <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo Icons</a> -->
                    <a href="#" class="btn btn-default btn-round">Read More...</a>
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="section section-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Notre Menu</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nobis doloremque enim sequi corporis,
                        possimus nam, accusamus iusto saepe fuga debitis velit dignissimos. Temporibus odio culpa magni odit
                        maiores molestias.</div>
            </div>
        </div>
    </div>


    
</div>
