<div class="section  section-nucleo-icons">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2 class="title">Menu</h2>
                <br/>
<div class="content panel panel-default" [@routerTransition]>
  <app-table-header [dataTableResult]="dataTableResult" [add]="add" (click_add)="open()"></app-table-header>
  <div class="row">
      <div class="col-lg-12 table-responsive">
          <table #dataTable class="table table-hover compact" width="100%">
              <thead>
                  <tr>
                    <th class="th-sm">Categorie
                    </th>
                    <th class="th-sm">plat
                    </th>
                    <th class="th-sm">prix
                    </th>
                      <th class="th-sm">DATE DE CREATION
                      </th>
                  </tr>
              </thead>
              <tbody>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
