<!-- <app-header></app-header> -->
<!-- <app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar> -->





<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/top-restaurant.jpeg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">J-SHARP</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Suite restaurant with exotic cuisine</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">
            lorem ipsum dolor sit amet
        </h6>
    </div>
    <div class="main">
        
        

        <router-outlet></router-outlet>
        
        
        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/menus']">
                            <img src="./assets/img/resto.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/menus']" class="btn btn-outline-neutral btn-round">Notre menu</a>
                        </a>
                    </div>
        
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/typeplats']">
                            <img src="./assets/img/plats.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/typeplats']" class="btn btn-outline-neutral btn-round">Nos types de plats</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                
                
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                        <a href="#git" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                            <i class="fa fa-github"></i> Star
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

