<div class="section  section-nucleo-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <h2 class="title">Informations sur le plat</h2>
        <br/>
<div class="panel panel-default content"  [@routerTransition]>
  <div class="panel-heading">
    <label>Infos Plat</label>
    <span class="pull-right">
      <span class="pull-right">
          <button class="btn btn-default  btn-xs" (click)="open()"><i class="fa fa-pencil" aria-hidden="true"></i>
            {{'edit'| translate}}</button>
            &nbsp;
          <button class="btn btn-danger  btn-xs" (click)="delete()"><i class="fa fa-remove" aria-hidden="true"></i>
            {{'delete'| translate}} </button>
      </span>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-6 col-sm-6 form-group">
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">catégorie</label>
          <label>{{menu.typeplat.nom}}</label>
        </div>
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Nom</label>
          <label>{{menu.plat}}</label>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 form-group">
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Prix</label>
          <label>{{menu.prix}}</label>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 form-group">
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Description</label>          
          <div class="col-lg-8 col-sm-8" [innerHTML]="menu.desc"></div>
        </div>
    </div>
  </div>
</div>
<app-menu-photo></app-menu-photo>

</div>
</div>
</div>
</div>