<div class="section  section-nucleo-icons">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2 class="title"> Membres du team J-SHARP</h2>
                <br/>
                    <ul>
                        <li>
                            Hamadou DAO
                        </li>
                        <li>
                            Babacar FALL
                        </li>
                        <li>
                            Ndèye Awa THIAM
                        </li>
                        <li>
                            Ndèye Nguénar NDOUR
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>

